:root {
  --cor-dark1: #111111;
  --cor-dark2: #1d1d1d;
  --cor-dark3: #292929;
  --cor-dark4: #353535;
  --cor-dark5: #525252;
  --cor-dark6: #6e6e6e;
  --cor-dark7: #8d8d8d;
  --cor-dark8: #a7a7a7;
  --cor-dark9: #bdbcbc;
  --cor-dark10: #d1d0d0;
  --cor-dark11: #e7e6e6;
}
